body {
  width: 800px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 16px;
  background-color: whiteSmoke;
  color: #666666; }
  body .paper {
    font-size: 14px; }
    body .paper .title {
      font-weight: bold; }

hr {
  border: 0;
  width: 90%;
  height: 1px;
  background-color: #666666; }

b {
  font-weight: bold; }

table {
  margin: 1em;
  border-collapse: collapse; }

td, th {
  padding: 10px; }

tr {
  border: 1px #ccc solid; }

a {
  background-color: #fff;
  color: #444444; }

a:hover {
  color: #4a49ff; }

div#byline {
  margin-top: 5px;
  font-weight: normal;
  font-size: 20px; }
  div#byline a {
    text-decoration: none;
    background-color: inherit;
    padding-top: 15px;
    padding-bottom: 20px; }

div#subbyline {
  margin-top: 5px;
  color: #aaa;
  font-weight: normal;
  font-size: 15px; }
  div#subbyline a {
    text-decoration: none;
    background-color: inherit;
    color: #aaa;
    padding-top: 5px;
    padding-bottom: 10px; }
  div#subbyline a:hover {
    color: #4a49ff; }

div#splash {
  font-size: 20px;
  font-weight: lighter;
  color: #666666;
  width: 400px; }

span#name {
  font-size: 20px;
  font-weight: lighter;
  color: #666666;
  color: #4a49ff; }

span.field {
  font-size: 20px;
  font-weight: lighter;
  color: #666666;
  font-weight: bold; }

div#about {
  background-color: white;
  line-height: 120%;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #AAA; }
  div#about a {
    text-decoration: underline; }

div#copyright {
  float: right;
  margin-top: 10px;
  color: #bbb;
  font-size: 12px; }

div#content {
  font-size: 20px;
  font-weight: lighter;
  color: #666666;
  width: 800px; }

content#name {
  font-size: 20px;
  font-weight: lighter;
  color: #666666;
  color: #4a49ff; }
