body {
  width: 800px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 16px;
  background-color: whiteSmoke;
  background-image: url("../images/splashbg.png");
  background-repeat: y-repeat;
  background-position: top center;
  color: #555555; }
  body .paper {
    font-size: 14px; }
    body .paper .title {
      font-weight: bold; }

hr {
  border: 0;
  width: 90%;
  height: 1px;
  background-color: #555555; }

h1 {
  font-size: 48px; }

b {
  font-weight: bold; }

table {
  margin: 1em;
  border-collapse: collapse; }

td, th {
  padding: 10px; }

tr {
  border: 1px #ccc solid; }

a {
  /*background-color: #fff;*/
  color: #444444; }

a:hover {
  color: #4a49ff; }

div#byline {
  margin-top: 5px;
  font-weight: normal;
  font-size: 20px; }
  div#byline a {
    text-decoration: none;
    background-color: inherit;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #888; }
  div#byline a:hover {
    color: #4a49ff; }

div#splash {
  font-size: 17px;
  font-weight: lighter;
  color: #555555;
  width: 500px; }

span#name {
  font-size: 17px;
  font-weight: lighter;
  color: #555555;
  font-size: 40px;
  color: #666666;
  font-weight: bold; }

span#motto {
  font-size: 17px;
  font-weight: lighter;
  color: #555555;
  font-size: 23px;
  color: #666666;
  font-weight: bold; }

span.field {
  font-size: 17px;
  font-weight: lighter;
  color: #555555;
  font-weight: bold; }

div#about {
  background-color: white;
  line-height: 120%;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #AAA; }
  div#about a {
    text-decoration: underline; }
  div#about span#about-name {
    color: #4a49ff; }

div#copyright {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #bbb;
  font-size: 12px; }

div#content {
  font-size: 17px;
  font-weight: lighter;
  color: #555555;
  width: 800px; }

content#name {
  font-size: 17px;
  font-weight: lighter;
  color: #555555;
  color: #4a49ff; }

div.post {
  background-color: white;
  line-height: 120%;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #AAA; }
  div.post h1 {
    line-height: 100%; }
  div.post a {
    text-decoration: underline; }

div.footnote {
  margin-top: 10px;
  background-color: white;
  line-height: 120%;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #AAA; }
