$splash-text-color: #666;
$byline-text-color: #444;
$splash-text-size: 20px;

$def-link-hover: #4a49ff;
$def-bg: whiteSmoke;


@mixin spl-link {
	a {
		background-color: #fff;
		color: $byline-text-color;
	}

	a:hover {
		color: $def-link-hover;
	}
}

@mixin splash-text {
	font-size: $splash-text-size;
	font-weight: lighter;
	color: $splash-text-color;
}

@mixin splash {
	div#splash {
		@include splash-text;
		width:400px;
	}

	span#name {
		@include splash-text;
		color: $def-link-hover;
	}
	
	span.field {
		@include splash-text;
		font-weight: bold;
	}
}

@mixin content {
	div#content {
		@include splash-text;
		width:800px;
	}

	content#name {
		@include splash-text;
		color: $def-link-hover;
	}
}

@mixin byline {
	div#byline {
		margin-top:5px;
		font-weight: normal;
		font-size:20px;

		a {
			text-decoration: none;
			background-color: inherit;
			padding-top:15px;
			padding-bottom:20px;
		}
	}

	div#subbyline {
		margin-top:5px;
		color:#aaa;
		font-weight:normal;
		font-size:15px;

		a {
			text-decoration: none;
			background-color: inherit;
			color:#aaa;
			padding-top:5px;
			padding-bottom:10px;
		}

		a:hover {
			color:#4a49ff;
		}
	}
}

@mixin about {
	div#about {
		background-color: white;
		line-height: 120%;
		padding: 10px;
		padding-right: 30px;
		padding-left: 30px;
		border-radius: 15px;
		box-shadow: 5px 5px 5px #AAA;
		
		a {
			text-decoration: underline;
		}
		
		span#about-name {
			color: $def-link-hover;
		}
	}
}

@mixin copyright {
	div#copyright {
		float:right;
		margin-top: 10px;
		color: #bbb;
		font-size: 12px;
	}
}


body {
	width:800px;
	padding:0;
	margin:0;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	font-family:helvetica;
	font-weight: lighter;
	font-size: 16px;
	background-color: $def-bg;
	background-image:url('../images/splashbgcrop.png');
	background-repeat:no-repeat;
	background-position: top center;
	color: $splash-text-color;
	
	.paper {
		font-size: 14px;
		
		.title {
			font-weight: bold;
		}
	}
}

hr {
	border: 0;
	width: 90%;
	height: 1px;
	background-color: $splash-text-color;
}

h1 {
	font-size: 48px;
}

b {
	font-weight: bold;
}

table {
	margin: 1em;
	border-collapse: collapse;
}

td, th {
	padding: 10px;
}

tr {
	border: 1px #ccc solid;
}


@include spl-link;
@include byline;
@include splash;
@include about;
@include copyright;
@include content;

