<body>
	<span id="intro">Big data. Machine Learning. Randomized Algorithms. NLP. Bayesian Nonparametric Analysis.</span>

	<span id="name">Alex Clemmer</span>.

	<div id="byline"><a href="about.html">About</a>. <a href="about.html">Research</a>. <a href="about.html">Writings</a>.</div>

	<div id="subbyline"><a href="https://github.com/DrSleep" target="_new">Code</a>. <a href="about.html">Technical Reports</a>. <a href="http://www.quora.com/Alex-Clemmer" target="_new">Quora</a>. <a href="http://www.facebook.com/clemmer.alexander" target="_new">Facebook</a>. <a href="http://gplus.to/apc" target="_new">Google+</a>.</div>
</body>