<% content_for :title, "Alex Clemmer" %>

<div id="splash">
	<p>
		My name is <span id="name">Alex Clemmer</span>.
	</p>
	<p>
		I'm mostly interested in massive-scale <span class="field">machine learning</span>, particularly at its intersection with <span class="field">natural language processing</span>.
	</p>
</div>

<%= render '/splashnav' %>