<% content_for :title, "Alex Clemmer" %>

<div id="splash">
	<p>
		I'm interested in massive-scale learning tasks, particularly those at the intersection of <span class="field">machine learning</span> and <span class="field">natural language processing</span>.
	</p>
	<p>
		I spend a lot of time thinking about randomized algorithms, Bayesian nonparametrics, and algorithms for massive data.
	</p>
	<p>
		My name is <span id="name">Alex Clemmer</span>.
	</p>
</div>

<%= render '/splashnav' %>