<% content_for :title, "About" %>



<div id="about">
	<p>
		I'm <b>Senior</b> in <b>CS</b> at the <b>University of Utah</b>.
	</p>
	<p>
		I officially hold two RAs, one at <b>Utah</b> (where my adviser is  <%= link_to 'Jeff Phillips', 'http://www.cs.utah.edu/~jeffp/', :target => '_blank' %>) and <b>Johns Hopkins University</b> (where my advisers is <%= link_to 'Ben van Durme', 'http://www.cs.jhu.edu/~vandurme/', :target => '_blank' %>).
	</p>
	<p>
	I will graduate sometime in <b>Spring 2013</b>.
	</p>
	
	<br/><hr/><br/>
	
	<b>Contact Information:</b><br/><br/>
	Merrill Engineering Building, Room 3190<br/>
	50 South Central Campus Drive<br/>
	Salt Lake City, UT 84105<br/>
	<br/>
	<b>T:</b>+1 801 554 9747<br/>
	<br/>
	<b>E:</b> clemmer.alexander@gmail.com<br/>
	<br/>
</div>

<div id="copyright">copyright 2011 Alex Clemmer</div>

<%= render '/nav' %>