<% content_for :title, "About" %>



<div id="about">
	<p>
		I'm <b>Senior</b> in <b>CS</b> at the <b>University of Utah</b>. This page is current as of <b>February 2013</b>.
	</p>
	<p>
		Although I'm a student at Utah, my primary RA is actually at <b>Johns Hopkins University</b>, where my adviser is <%= link_to 'Ben Van Durme', 'http://www.cs.jhu.edu/~vandurme/', :target => '_blank' %>. We work to develop principled methods for storing and processing large amounts of text data, especially as related to machine learning algorithms. In this capacity, at Utah I collaborate very closely with <%= link_to 'Jeff Phillips', 'http://www.cs.utah.edu/~jeffp/', :target => '_blank' %>.
	</p>
	<p>
		I also currently hold REU under <%= link_to 'Matt Might', 'http://matt.might.net/', :target => '_blank' %>, who I work with on the exciting new area of probabilistic programming languages.
	</p>
	<p>
	I will graduate sometime in <b>Spring 2013</b>.
	</p>
	
	<br/><hr/><br/>
	
	<b>Contact Information:</b><br/><br/>
	Merrill Engineering Building, Room 3190<br/>
	50 South Central Campus Drive<br/>
	Salt Lake City, UT 84105<br/>
	<br/>
	<b>T:</b>+1 801 554 9747<br/>
	<br/>
	<b>E:</b> clemmer.alexander@gmail.com<br/>
	<br/>
</div>

<div id="copyright">copyright 2011 Alex Clemmer</div>

<%= render '/nav' %>