
<div id="byline"><%= link_to 'Home', root_url %>. <%= link_to 'About', about_url %>.</div>

<div id="subbyline"><%= link_to 'Quora', "http://www.quora.com/Alex-Clemmer", :target => '_blank' %>. <%= link_to 'Google+', 'http://gplus.to/apc', :target => '_blank' %>.</div>